<a href="https://colab.research.google.com/github/msmsd778/FIT-Project/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Modules

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Preprocessing and Cleaning Data

In [ ]:
df = pd.read_csv("Principles of Information Technology - phaze 2 - Sheet1.csv")
df.head(1)

  Student Nu   ...          Cost Structure Tags
0   983623027  ...  variable cost | fixed cost

[1 rows x 30 columns]

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.drop(['Student Nu ', 'Team', 'Company Site', 'URL Address', 'BM Date'], axis=1, inplace=True)

In [ ]:
df.head()

                  Company  ...                             Cost Structure Tags
0                3RD Home  ...                     variable cost | fixed cost
1                 Expedia  ...                     fixed cost | variable costs
2                 Hapimag  ...  fixed cost | variable costs | economy of scale
3  Marriott International  ...                   economy of scale | fixed cost
4               Priceline  ...   economy of scale | fixed cost | variable cost

[5 rows x 25 columns]

In [ ]:
df.dropna(inplace=True)
df.head(1)

    Company  ...          Cost Structure Tags
0  3RD Home  ...  variable cost | fixed cost

[1 rows x 25 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 826 entries, 0 to 1078
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Company                      826 non-null    object
 1   Country                      826 non-null    object
 2   Foundations date             826 non-null    object
 3   Type                         826 non-null    object
 4   Sector                       826 non-null    object
 5   Categories                   826 non-null    object
 6   Tags                         826 non-null    object
 7   Customer Segments            826 non-null    object
 8   Value Propositions           826 non-null    object
 9   Channels                     826 non-null    object
 10  Customer Relationships       826 non-null    object
 11  Revenue Streams              826 non-null    object
 12  Key Resources                826 non-null    object
 13  Key Activities               826 non-null    object
 14  Key Partnerships             826 non-null    object
 15  Cost Structure               826 non-null    object
 16  Customer Segments Tags       826 non-null    object
 17  Value Propositions Tags      826 non-null    object
 18  Channels Tags                826 non-null    object
 19  Customer Relationships Tags  826 non-null    object
 20  Revenue Streams Tags         826 non-null    object
 21  Key Resources Tags           826 non-null    object
 22  Key Activities Tags          826 non-null    object
 23  Key Partnerships Tags        826 non-null    object
 24  Cost Structure Tags          826 non-null    object
dtypes: object(25)
memory usage: 167.8+ KB

# Customer Segments Tags

In [ ]:
cust_seg_count = {'niche': 0, 'segmented' : 0, 'multi-sided': 0, 'mass' : 0, 'diversified' : 0}
for i in df['Customer Segments Tags']:
  arr = []
  arr = i.split('|')
  for j in arr:
    if 'niche' in j:
      cust_seg_count['niche'] += 1
    if 'segmented' in j:
      cust_seg_count['segmented'] += 1
    if 'multi-sided' in j:
      cust_seg_count['multi-sided'] += 1
    if 'diversified' in j:
      cust_seg_count['diversified'] += 1
    if 'mass' in j:
      cust_seg_count['mass'] += 1
print(cust_seg_count)

{'niche': 914, 'segmented': 1100, 'multi-sided': 211, 'mass': 611, 'diversified': 311}

# Value Propositions Tags

In [ ]:
val_prop_count = {'newness': 0, 'performance' : 0, 'customization': 0,
                  '0-to-100' : 0, 'design' : 0, 'brand/status' : 0,
                  'price' : 0 , 'cost reduction' : 0, 'risk reduction' : 0,
                  'accessibility': 0, 'convenience/usability' : 0}
for i in df['Value Propositions Tags']:
  arr = []
  arr = i.split('|')
  for j in arr:
    if 'newness' in j:
      val_prop_count['newness'] += 1
    if 'performance' in j:
      val_prop_count['performance'] += 1
    if 'customization' in j:
      val_prop_count['customization'] += 1
    if '0-to-100' in j:
      val_prop_count['0-to-100'] += 1
    if 'design' in j:
      val_prop_count['design'] += 1
    if 'brand/status' in j or 'brand' in j or 'status' in j:
      val_prop_count['brand/status'] += 1
    if 'price' in j:
      val_prop_count['price'] += 1
    if 'cost reduction' in j:
      val_prop_count['cost reduction'] += 1
    if 'risk reduction' in j:
      val_prop_count['risk reduction'] += 1
    if 'accessibility' in j:
      val_prop_count['accessibility'] += 1
    if 'convenience/usability' in j or 'convenience' in j or 'usability' in j:
      val_prop_count['convenience/usability'] += 1
print(val_prop_count)

{'newness': 529, 'performance': 871, 'customization': 382, '0-to-100': 99, 'design': 175, 'brand/status': 253, 'price': 192, 'cost reduction': 221, 'risk reduction': 217, 'accessibility': 491, 'convenience/usability': 693}

# Channels Tags

# Customer Relationships Tags

# Revenue Streams Tags

# Key Resources Tags

# Key Activities Tags

# Key Partnerships Tags

# Cost Structure Tags